body {
  display: flex;
  justify-content: space-around;
  background: #e4eee5;
}
.box {
  background: white;
  margin: 20px;
  padding: 20px;
  width: 455px;
  -webkit-box-shadow: 17px 22px 19px 3px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 17px 22px 19px 3px rgba(0, 0, 0, 0.62);
  box-shadow: 17px 22px 19px 3px rgba(0, 0, 0, 0.62);
}

.header {
  font-size: 40px;
}
